.form1{
    background-color: #ddd;
    border-color: dimgrey;
    border-width: 1px;
    border-radius: 4px;
    padding:15px;
}

p{
    padding:0px 15px 0px 15px;  
}

.row{
    margin-bottom: 20px;
}

.btn1{
    background:#BCE8F1;
}