<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/access.html">Attack Access Control</a></li>  
              <li class="active">Lab2: Access Static Files</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>In some web applications there are downloadable resources, such as pdf, music, etc. In most cases, the user is allowed to have access to the resources until the server has granted his priviledges.</p>
                <p>However, in some cases, requests for protected resources are made directly to the static resources themselves, which are located within the server’s web root.</p>                 
                <p>In this lab, you are visiting a music website of several downloadable resources, the author means to only allow downloading musics after the users have logged in. You can use <b>Mark qwerty</b> to log in. However, with broken access control the downloadable resources are not properly protected. Your task is to get these resources without log in.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-3" >        
        <form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;width:400px">
            <h3><span class="glyphicon glyphicon-music" aria-hidden="true"> Music Download <span class="glyphicon glyphicon-music" aria-hidden="true"></span></h3>
            <div class='control-group'>
            <label class='control-label' for='username'>Username</label>
            <div class='controls'>
              <input type='text' id='username' placeholder='Username'></div></div>
            <div class='control-group'>
            <label class='control-label' for='password'>Password</label>
            <div class='controls'>
              <input type='password' id='password' placeholder='Password'>
            </div></div><br>
            <div id='msgbox' style="opacity:1 !important;"></div><br>            
            <div class='control-group'>
            <div class='controls'>
              <input name='Submit' type='button' onclick='javascript:login()' value='Log in' class='btn btn-primary'/>            
            </div></div><br>
        </form>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>In this example, there are two major vulnerabilities with this website:</p>
            <p>First, the music resouces are stored in website <b>root/resources/</b>, so visitors don't necessarily need to log in to download the musics if they know the url of music files.</p>
            <p>Second, although the website require authentication to access to the download page <b>access_success.html</b>, the download page itself does not check again whether the user has logged in. That means this page content of access_success.html is vulnerable too.</p>
              </div>
            </div>    
        </div>
</div>
    
<script>
function login(){
        $.ajax({
            url : '../scripts/php/validation_3.php',
            type : 'POST',
            data : { user_name:$('#username').val(),password:$('#password').val() },
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        //console.log(data);
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('Log in Successful!');
                        });                       
                        window.location.replace("access_success.html");                        
            }
            else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Your login details are incorrect, try again.');
                    });                 
            }
        }
    })     
};
    

</script>