<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAP Lab</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Bypass Client Side Control</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </nav>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/authentication.html">Attack Authentication</a></li>  
              <li class="active">Verbose Failure Messages</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>A login form may require you to input several information, such as username, password, email, date of birth, etc. However, if the applications tells you which information is not correct, it will make the authentication weaker because the attacker will have less difficulty in guessing the information.</p>
                <p>In this lab, you role is to play as an attacker and try to log in the system with the correct username, password and email. Start your guess from username to password to email. You will notice that if you get one field correct, the form will notify you that the other field is not correct.</p> 
                <p>Start your guessing, good luck! If you need some hint, click <b>"Show Hint"</b> Below. </p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-6" >        
<form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;width:300px">
            <div class='control-group'>
            <label class='control-label' for='username'>Username</label>
            <div class='controls'>
              <input type='text' id='username' placeholder='Username'></div></div>
            <div class='control-group'>
            <label class='control-label' for='password'>Password</label>
            <div class='controls'>
              <input type='password' id='password' placeholder='Password'>
            </div></div>
            <div class='control-group'>
            <label class='control-label' for='email'>email</label>
            <div class='controls'>
              <input type='text' id='email' placeholder='Email'>
            </div><br>
            <div id='msgbox' style="opacity:1 !important;"></div><br>
            </div>
            <div class='control-group'>
            <div class='controls'>
              <input name='Submit' type='button' onclick='javascript:login()' value='Log in' class='btn btn-primary'/>
            
            </div></div><br>
          </form>

    </div>
</div>
        
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>To make it easier for you, here are the potential correct value for each of these fields:</p> 
            <p>Username:<b>Alice, Alex, Tom, Mark, Jenny</b></p> 
            <p>Password:<b>waplab, 12345678, qwerty, abc123, 111111, monkey, 12345</b></p>
            <p>email:<b>alice@hotmail.com, tom@gmail.com, mark@hotmail.com, mark@gmail.com, jenny@hotmail.com </b></p>
              </div>
            </div>
    
        </div>
    </div>

<script>
function login()
{
    if($('#username').val() != 'Mark'){
        $("#msgbox").html("username is not right");
    }else if($('#password').val() != 'qwerty'){
        $("#msgbox").html("password is not right");
    }else if($('#email').val() != 'mark@hotmail.com'){
        $("#msgbox").html("email is not right");
    }else{
        $.ajax({
            url : '../scripts/php/validation_2.php',
            type : 'POST',
            data : { user_name:$('#username').val(),password:$('#password').val(),email:$('#email').val()
        },
        dataType:'json',
        success : function(data) { 
            console.log(data);
          if(data != 0){
                        console.log(data);
                        $("#msgbox").fadeTo(200,0.1,function()
                        { 
                          $(this).html('Logging in...');
                        });
                        window.location.replace("authentication_success2.html");
            }
            else{
               /*$("#msgbox").fadeTo(200,0.1,function()
                    { 
                      $(this).html('Your login details are incorrect');
                    }); 
                */
            }
        }
    });
        
    }
}
</script>
