<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAP Lab</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Bypass Client Side Control</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </nav>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/clientside.html">Bypass Client Side Controls</a></li>  
              <li class="active">Lab2: HTML Form length limits</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">            
            <p>
            Let's say the application want the user to have limitation on the quantity of iPhone 6s they can buy. </p>
            <p>In this HTML form, the input field for quantity is  <code>&lt;input type="text" name="quantity" maxlength="1"&gt;</code>Here the browser assume that the user can buy less than 10 as the "maxlength" of quantity field is 1, so the user can only input any value from 0 to 9.</p>
            <p>
            In this lab, your task is to find a way to buy more than 10 iPhone 6s at a time(for example 20 iPhone 6s).</p>
            <p>If you don't know how to hack this application, click "Show Hint" button below.</p>
            </div>
            <form class="form1" method="post" action="../scripts/php/clientside_1.php">
            Product: iPhone 6s<br/>
            Price: 699 <br/>
            <label for="quantity">Quantity: (less than 10)</label>
            <input type="text" class="form-control" name="quantity" maxlength="1">
            <br/>
            <input type="hidden" name="price" value="699">
            <input type="submit" class="btn btn-success" value="Buy">
            </form> <br>
            <div class="alert alert-success" role="alert" id="purchase">You can buy iPhone 6s here.</div>            
        </div>        
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
                In order to buy more than 10 products at a time, you need to modify the quantity input field. One suggest way is to use the browser's developer tools("Shortkey F12"). Mouse Right click the form on the web page, you will see the source code at developer tools. Find the line of <code>&lt;input type="text" name="quantity" maxlength="1"&gt;</code>, double click on it and delete the maxlength="1". <br>
                  Now buy the product again. Bingo! You can buy any quantity of products now.
              </div>
            </div>
    
        </div>
    </div>

<script>
    $('form').submit(function(event){
        //get the form data
        var formData = {
            'quantity': $('input[name=quantity]').val(),
            'price':    $('input[name=price]').val()
        };
        //process the form with ajax
        $.ajax({
            type:'POST',
            url:"../scripts/php/clientside_1.php",
            data:formData,
            dataType:'json',
            encode:true
        })
        .done(function(data){
              console.log(data);
                document.getElementById("purchase").innerHTML = 
                    "You have purchase " + $('input[name=quantity]').val() +
                    " iPhone 6s at the price of $" +  $('input[name=price]').val()+
                    ", Thank you!";
        });
        //stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });
    </script>
