<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li class="active">SQL Injection</li>
            </ol>
        </div>
        
        <div class="col-md-6">
            <p class="bg-success"><b>What is WAS labs?</b><br>
                        WAS labs stands for Web Application Security, this website explore various aspects of web application vulnerabilities and ways to prevent them. The way you learn is innovative, you learn as you take part in the labs. These labs will teach you how to bypass clientside control, attack authentication, attack access control, SQL injection, etc. </p>
            <p class="bg-info"><b>How to get start?</b><br>
                        You can start from homepage, click "learn more" at one of the security area that you are interested at. Then you will be landed to a page listing all of the labs we provided. Then you can start with the labs by clicking names of the labs.</p>
            <p class="bg-warning"><b>How to use the labs to learn?</b><br>All the labs have the similar pattern on our website, it composed of "Introduction", "The lab content", and "Show Hint". The introduction will give you some background on the lab, and guide on your task. Below the introduction is the lab content, it can be a login form, an input field, etc. Your can interact with the lab content to finish your task. Below the lab content there is always a "Show Hint" button, this button shows you how to solve the problem in the lab. Only use this button when you think you cannot solve the problem.</p>
            <p>If you need to see the source code of this website, please go to:<a href="https://github.com/zhouyuhang/WAP-Lab" target="_blank">Github</a></p>
        </div>
    </div>
    
</div>

