<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/sql.html">SQL Injection</a></li>  
              <li class="active">Lab1: Bypassing a Login(1)</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>In this lab, we are going to use some crafted words to bypass this login system.</p>
            <p>We already know that the administrator has username <b>admin</b>, but we don't know the password.</p>
            <p>And we have already known that the sql query is <code>select name,password from user where name='$username' and password='$password'</code>, where the username and password are the values you input in the form.</p>
            <p>Your task in this lab is to bypass the login form with MySQL injection crafted input.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-3" >        
        <form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;width:400px">
            <h4>Lab1: Bypassing a Login(1)</h4>
            <div class='control-group'>
            <label class='control-label'>Username :</label>
                <input type="text" name="username" id="username" class="form-control" required autofocus/></div>
            <div class='control-group'>
            <label class='control-label'>Password :</label>
            <input type="password" name="password" id="password" class="form-control" required/><br>
            </div>
            <div id='msgbox' style="opacity:1 !important;"></div><br> 
            <div class='control-group'>
            <div class='controls'>
              <input name='Submit' type='button' onclick='javascript:login()' value='Log in' class='btn btn-primary'/>            
            </div></div><br>
        </form>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>You can input <code>admin</code> in the username field; and input <code>wrongpassword' OR 'a'='a</code> in the password field.</p>
            <p>In this case, the query generated will be <br><code>SELECT * FROM users WHERE username='admin' AND password='wrongpassword' OR 'a'='a'</code></p>
            <p><code>username='admin'</code> is true because this is the correct username, <code>password='wrongpassword' OR 'a'='a'</code> is also true because the second part of the OR condition is true, so even you don't know the correct password, you are able to bypass the login form with admin account.</p>
            <p>Another solution is to input <code>admin'#</code> , and # will comment all the rest query after it. The entire query will be <br><code>SELECT * FROM users WHERE username='admin'#' AND password='$password'</code></p>
            <p>A way to prevent sql injection is to correctly handle(escape) the input value before using them in the sql query. You can use the php function real_escape_string() to escape strings, <a target="_blank" href="http://php.net/manual/en/mysqli.real-escape-string.php">read more about this function</a>.</p>
              </div>
            </div>    
        </div>
</div>
    
<script>
function login(){
        $.ajax({
            url : '../scripts/php/validation_sql1.php',
            type : 'POST',
            data : { user_name:$('#username').val(),password:$('#password').val() },
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        //console.log(data);
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('Log in Successful!');
                        });
                        window.location.replace("sql_success1.html");                        
            }
            else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Your login details are incorrect, try again.');
                    });                 
            }
        }
    })     
};
    

</script>