<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/sql.html">SQL Injection</a></li>  
              <li class="active">Lab3: Exploiting Store with SELECT statement</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>In this lab we create a online store that sells digital products. Below you will see that the website provide you a function to search for products by name. The query is <br>
                <code>select * from store where product_name='$product_name' and product_number > 0</code><br>
                This query select all the info of a product with the name you input, and product number greater than 0, means the product is in stock.</p>
            <p>Here we list all the products and there price and quantity here. So you can search for them with the product name.</p>
            <p>
            <table class="table table-hover">
                <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                </tr>

                <tr>
                <td>1</td>
                <td>iphone6s</td>
                <td>699</td>
                <td>12212</td>
                </tr>

                <tr>
                <td>2</td>
                <td>DELL laptop</td>
                <td>800</td>
                <td>200</td>
                </tr>

                <tr>
                <td>3</td>
                <td>Epson Home Theater Projector</td>
                <td>1999</td>
                <td>333</td>
                </tr>

                <tr>
                <td>4</td>
                <td>Sennheiser Headphone</td>
                <td>224</td>
                <td>2123</td>
                </tr>

                <tr>
                <td>5</td>
                <td>Nikon D3200 Digital SLR Camera</td>
                <td>396</td>
                <td>2133</td>
                </tr> 

                <tr>
                <td>6</td>
                <td>Panasonic LUMIX digital Camera</td>
                <td>297 </td>
                <td>3232</td>
                </tr>

                <tr>
                <td>7</td>
                <td>Arlo HD Camera</td>
                <td>120</td>
                <td>1212</td>
                </tr>
                <tr>
                <td>8</td>
                <td>Kindle</td>
                <td>49</td>
                <td>3332</td>
                </tr>                
            </table>
            </p>
            <p>However there exists a vulnerability that attacker can use just one crafted input within the SELECT statement to obtain all the product information. Your task is to input certain word that obtain all the product information.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-3" >        
        <form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;width:400px">
            <div class='control-group has-success'>
            <h4>Welcome to Digital Store</h4>
            <label class='control-label'>Search for a product by Name:</label>
                <input type="text" name="product" id="product" class="form-control" required/></div>            
            <div id='msgbox' style="opacity:1 !important;"></div><br> 
            <div id="display"></div><br>
            <div class='control-group'>
            <div class='controls'>
              <input name='Submit' type='button' onclick='javascript:search()' value='Search' class='btn btn-success'/>            
            </div></div><br>
        </form>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>You can input <b>anything' OR '1'='1</b> into the input field. In this case the SQL query will become<br><code>select * from store where product_name='anything' OR '1'='1' and product_number > 0</code>.</p>
            <p>In this case, the query select any product that has quantity > 0, because '1'='1' is always true. This vulnerabilty leaks out all the information of the products, which should be prevented by correct escaping the input.</p>
              </div>
            </div>    
        </div>
</div>
    
<script>
function search(){
        $.ajax({
            url : '../scripts/php/validation_sql3.php',
            type : 'POST',
            data : { product_name:$('#product').val() },
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        //console.log(data);
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('View the search results below:');
                        });                        
                        console.log(data);
                        document.getElementById("display").innerHTML = "<b># | Product Name | Price | Quantity <br></b>";
             for(var i = 0; i < data.length; i++){                 
                  document.getElementById("display").innerHTML += data[i].id + " | " + data[i].product_name + " | " + data[i].product_price + " | " + data[i].product_number + "<br>";
            }
          }else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Sorry. We cannot find the product.');
                    });                 
            }
        }
    })     
};
    

</script>