<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/sql.html">SQL Injection</a></li>  
              <li class="active">Lab5: Change Password vulnerability</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>This form is a commonly seen function that allow you to reset your password of your account. In the second line of the form, you can see the current password of admin, and you can change it with the form. I display this password to you as there could be multiple users who change the password of admin. </p>
            <p>Then suppose you are an website attacker and you don't know about the password of admin, and you are trying to have access to the admin account. You task is to figure out a way to do so. The query for the database for this form is <br><code>UPDATE user_test SET password='$password1' WHERE name = '$username' and password= '$password'</code></p>
            <p>Here the $username refers to Username, $password refers to Old Password, and $password1 refers to New Password.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-3" >        
        <form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;width:400px">
            <div class='control-group has-warning'>
            <h4>Lab5: Change Password vulnerability</h4>
            <div id="adminpass"></div>
            <label class='control-label'>Username :</label>
                <input type="text" name="username" id="username" class="form-control" required/></div>
            <div class='control-group has-warning'>
            <label class='control-label'>Old Password :</label>
            <input type="password" name="password" id="password" class="form-control" required/><br>
            </div>
            <div class='control-group has-warning'>
            <label class='control-label'>New Password :</label>
            <input type="password" name="password1" id="password1" class="form-control" required/><br>
            </div>
            <div id='msgbox' style="opacity:1 !important;"></div><br> 
            <div class='control-group has-warning'>
            <div class='controls'>
              <input name='Submit' type='button' onclick='javascript:change()' value='Change Password' class='btn btn-warning'/>            
            </div></div><br>
        </form>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>You can input <code>admin' or 1=1#</code> in the username field, anything in the old password field, and the input you desired in the new password field. Then the password for admin will become the password you input. Then the query becomes <br>
                <code>UPDATE user_test SET password='$password1' WHERE name = 'admin' or 1=1#' and password= '$password'</code></p>
            <p>This query means set password to new password where 1=1, the content after # is commented out.</p>
            <p><b>Remind: This query is very powerful, it not only change the password of admin, but also password of every account in the database! Be careful with that.</b></p>
              </div>
            </div>    
        </div>
</div>
    
<script>
$.ajax({
            url : '../scripts/php/adminpassword.php',
            type : 'POST',
            data : {},
        dataType:'json',
        success : function(data) {
            document.getElementById("adminpass").innerHTML = "The current password of admin is: " + data[0].password +", you can change it.";
        }
});

function change(){
        if($('#username').val()== '' || $('#password').val() == '' || $('#password').val() == ''){$("#msgbox").html('Please input your username and password.');}
        else{
        $.ajax({
            url : '../scripts/php/update_sql5.php',
            type : 'POST',
            data : { user_name:$('#username').val(), password:$('#password').val(), password1:$('#password1').val() },
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('Change Password Successful!');
                        });
                        //window.location.replace("sql_success2.html"); 
                        console.log(data);
            }
            else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Change Password Failed.');
                    });                 
            }
        }
    })
    }
};
    

</script>