<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/tools.html">Toolkits for Developers/Hackers</a></li>  
              <li class="active">Lab2: Use the "Network" to view HTTP requests</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="bg-info">
            <p>After the essential web browser, the most useful item in your toolkit when
attacking a web application is an intercepting proxy.Over the years, the humble intercepting proxy has evolved into a number of highly functional tool suites, each containing several interconnected tools designed to facilitate the common tasks involved in attacking a web application.Several testing suites are popular: Fiddler, Burp Suite, WebScarab, Paros, Zed, Attack Proxy, Andiparos, CAT, Charles.</p>
            <p>Fidder is one of the most popular one, it is kind of like the developer tools network, but much more powerful with plenty features. When you are running Fiddler, monitors all the internet sessions you are running and shows the request and response details.</p>
            <p>One of the cool feature of Fidder is AutoResponder. It enable fidder to respond to requests using local offline content, instead of actually going out to hitting the server. </p>
            <p>You can download Fidder4 from <a href="http://www.telerik.com/fiddler" target="_blank">Here</a>.</p>
            <p>You will see screen shot like this:<img src="../images/tools4_2.jpg" width="100%" class="img-thumbnail"></p>
            <p>Your task in this lab is to use the AutoResponder feature of Fiddler. You can use AutoResponder to replace the image below with an image from your local machine. </p>
            </div>        
        </div>        
    </div>
    
<div class="row">
    <div class="col-md-8" >  
        <p>Refresh the current page, then go to Fiddler. Find the session with url <b>/images/change.jpg</b>, open the AutoResponder tab on the right side of Fiddler. Then check to enable "Enable rules". Drag and drop the session of /images/change.jpg to the filed under the AutoResponder field. Then at the bottom you can see "Rule Editor", select the second dropdown menu and "Find a file" to select an local image, use any image from you local machine as you like. Click "Save" to save the changes. Refresh the page on the browser, then you can see the original image has been replaced by your local image!</p>
        <img src="../images/security.jpg">
    </div> 

</div>
        
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>Fidder can be used for many functions, for example, web debugging ,performance testing, HTTP/HTTPS traffic recording, web session manipulation, security testing, etc. You can find more info at http://www.telerik.com/fiddler or watch youtube tutorials.</p>
              </div>
            </div>
    
        </div>
    </div>