<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/tools.html">Toolkits for Developers/Hackers</a></li>  
              <li class="active">Lab1: Use the "Elements" for page editing</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="bg-info">
            <p>When I am developing websites, I have found the browser's developer tools to be very useful and helpful to my work. As Chrome is the most popular browser recently, we will use chrome developer tools for our showcases. For other browsers, they have the similar functionalities.</p>
            <p>To open the develop tools, you can go to Menu -> More tools -> Developer tools, or press F12 function key. And you will see something like this:<img src="../images/tools1_1.jpg" width="100%" class="img-thumbnail"></p>
            <p>On the left half of this tab, you see the source html code, including the head and body, usually the javascripts are included in the head or written at the end of body. If you want to see the code of a certain element, simply mouse right click on the element then click "Inspect Element". You can try that with the green button below.</p>
            <p>On the right half of this tab, there are css styles for each element, and the computed css for it, and the properties also provides many useful information to you. </p>
            <p>For this lab, your are going to use the developer tools to finish two tasks. First try to change the text of the following button to "Hello World" with html on browser, second change the button color to red with css.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-3" >        
        <!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Change my style and text as you like!</button>
    </div> 

</div>
        
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>To do the first, first right click the green button and click "Inspect element". Then you see the html code of this button, double click on the original text and change it to "Hello World". To do the second task, press the "+" sign near the css styles area on the right half of the tab, then input code <code>background-color: red;</code></p>
            <p>The changes only change the bahavior in your browser, not others. But this function is quite useful as you can see as you edit, so you can save a lot of not having to swap between the web application development environment and the browser.</p>
              </div>
            </div>
    
        </div>
    </div>

<script>
function login(){
        $.ajax({
            url : '../scripts/php/validation_3.php',
            type : 'POST',
            data : { user_name:$('#username').val(),password:$('#password').val() },
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        //console.log(data);
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('Log in Successful!');
                        });                       
                        //window.location.replace("access_success1.html");
                        if($('#username').val()=="admin"){
                            userStat2();
                        }else{
                            userStat1();
                        }
            }
            else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Your login details are incorrect, try again.');
                    });                 
            }
        }
    })     
}   

</script>