<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAP Lab</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Bypass Client Side Control</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </nav>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/xss.html">Cross Site Scripting</a></li>  
              <li class="active">Lab1: Non-Persistent XSS</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>Non-persistent attack required a user to visit a specially crafted link, it can be on a website, from your email, from an mobile app, etc. This lab shows you an example.</p>
            <p>First you see there is a simple form with HTTP GET method below. When you enter your name and submit, you will be redirected to another page that shows greeting information "Welcome XXX".</p>
            <p>Second you see I created a link with green background. This link goes to the same page with the one we see above, and usually the content may be insteresting to some visitors.</p>
            <p>However, the link we created is crafted, it goes to an url and execute some javascript code at the same time: <br>
                <code>&lt;a href="./xss_success1.php?name=guest&lt;script&gt;alert('You are attacked')&lt;/script&gt;"&lt;/a&gt;</code></p>
            <p>Try this lab to see how Cross Site Scripting works.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-6" >        
        <form action="xss_success1.php" method="get" class='form-inline' style="border:1px solid darkgrey;padding:10px;">
        <label for="disabledTextInput">Input Your Name and Submit</label><br>
        <input type="text" name="name" class="form-control">
        <input type="submit" class='btn btn-warning' value="Submit">
        </form><br>
        
        <div class="alert alert-success" role="alert">             
          <a href="./xss_success1.php?name=Guest<script>alert('You are attacked')</script>" class="alert-link"><strong>Click this link to learn about how to earn a $200 gift card.</strong></a>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>In this example, you see the pop-up window "You have been attacked", which means the XSS is working here. Of course you are not really attacked in this lab, but a real attacker can take advantage of XSS to do malicious things, such as discolsure of personal data, unauthorized actions, session hacking, etc. </p>
            <p>You may not be able to see the pop-up window because some modern browser has protect you from this kind of XSS with proper url encoding. If you want to test the lab, you can try a different browser that does not use this protection, or you can disable the XSS filter by going to Tools -> Internet Options -> Security -> Custom Level. Under Enable XSS filter, select Disable. I am testing the Internet Explorer 11 with the default setting, and the pop-up shows up. It means at least people who are using IE11 with defalut setting(I believe there are a lot) may suffer from XSS attacks. </p>
              </div>
            </div>    
        </div>
</div>   
