<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAS Lab <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./sql.html">SQL Injection</a>
                                </li>
                                <li class="divider"></li>                               
                                <li>
                                    <a href="./clientside.html">Bypass Client Side Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./authentication.html">Attack Authentication</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./access.html">Attack Access Control</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./xss.html">Cross Site Scripting</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="./tools.html">Toolkits for Developers/Hackers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                    </ul>
                </div>                
            </nav>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/xss.html">Cross Site Scripting</a></li>  
              <li class="active">Lab2: Fake an online bank</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>In last lab we create an alert message with XSS. An attacker can do more malicious things. For example, instead of leading the visitor to an online bank, he lead the visitor to a fake online bank he created himself, which look like the real online bank. Therefore the visisor thinks he is visiting the real online bank and disclose all of his personal information.<br>
            <p>Check the two online bank links below. The first one is the real online bank url, the second is the fake online bank url. For the real online bank, we are using this url:<br>
                <code>&lt;a href="./xss_success2.php?name=Guest"&lt;/a&gt;</code></p>
            <p>For the fake online bank account, the url is:<br>
                <code>&lt;a href="./xss_success2.php?name=Guest&lt;script&gt;window.open('./xss_success2_fake.php?name=Guest')&lt;/script&gt;"&lt;/a&gt;</code></p>            
            <p>Play with the two links and think what is the mechanism behind it.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-6" > 
        <div class="alert alert-success" role="alert">             
          <a href="./xss_success2.php?name=Guest" class="alert-link"><strong>This goes to the real online bank</strong></a>
        </div>
        <div class="alert alert-danger" role="alert">             
          <a href="./xss_success2.php?name=Guest<script>window.open('./xss_success2_fake.php?name=Guest')</script>" class="alert-link"><strong>This goes to the fake online bank</strong></a>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>The second link first lead the visitor to the real online bank then redirect the visitor to a fake online bank page with javascript<code>window.open()</code>.</p>
            <p>Usually an attacker tends not to craft the URL which is easy to read. So he will encode the ASCII characters to hex:<br>
                <code>&lt;a href="./xss_success2.php?name=%47%75%65%73%74%3C%73%63%72%69%70%74%3E%77%69%6E%64%6F%77%2E%6F%70%65%6E%28%27%2E%<br>2F%78%73%73%5F%73%75%63%63%65%73%73%32%5F%66%61%6B%65%2E%70%68%70%3F%6E%61%6D%65%3D%47%<br>75%65%73%74%27%29%3C%2F%73%63%72%69%70%74%3E"&lt;/a&gt;</code><br>
                  You can find encode/decode tools online, for example <a href="http://scriptasylum.com/tutorials/encode-decode.html" target="_blank">this one</a>.</p>
            <p>If you cannot test this lab, try use IE browser with XSS filter disabled, as mentioned in Lab 1.</p>
              </div>
            </div>    
        </div>
</div>   
