<!DOCTYPE html>
<html>
<head>
    <title>Web Application Security</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/scripts.js"></script>
 
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../scripts/styles.css">
</head>  
    
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="../index.php">WAP Lab</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Learning<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Bypass Client Side Control</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="https://www.linkedin.com/pub/yuhang-zhou/57/a54/859" target="_blank">About Author</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </nav>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            
            <ol class="breadcrumb">
              <li><a href="../index.php">Home</a></li>  
              <li><a href="../view/xss.html">Cross Site Scripting</a></li>  
              <li class="active">Lab3: Persistent XSS</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">
            <p>Persistent XSS has the malicious string coming from  website's database. When an attacker pass string to the database, other users will have see the string when they visit the website.</p>
            <p>Here we create a form where every visitor can leave a review, and after you leave a review. You can see the latest 3 reviews by youself and by other people. If malicious scripts are injected in the review by attacker, your browser will execute the malicious code. Try input this to the website:<br>
                <code>&lt;b onmouseover=alert("Attacked!")&gt;click me!&lt;/b&gt;</code></p>
            <p>Play with the form and think what is the mechanism behind it.</p>
            </div>        
        </div>        
    </div>
    
<div class="row" >
    <div class="col-md-6" >        
        <form class='form-horizontal' method='post' action='' id='login_form' style="border:1px solid darkgrey;padding:10px;">
            <div class='control-group has-info'>
            <h4>Lab3: Persistent XSS</h4>
            <label class='control-label'>Leave us your comment:</label>
            <input type="text" name="comment" id="comment" class="form-control" required/>                   <input name='Submit' type='button' onclick='javascript:comment1()' value='submit' class='btn btn-info'/>
            <div id='msgbox' style="opacity:1 !important;"></div><br> 
            <div id="display"></div><br>       
            </div>
        </form>
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show Hint
            </button>
            <div class="collapse" id="collapseExample">
              <div class="well">
            <p>Here is how the attack is performed:</p>
            <p>Fisrt the attacker uses the website's form to insert a malicious code into the website's database.</p>
            <p>Then the victim view a page from the website.</p>
            <p>The malicious code inside the website is send to the victim in the response.</p>
            <p>The victim's browser executes the code, the victim suffer from this action, for example his cookies are sent to the attacker's server.</p>
              </div>
            </div>    
        </div>
</div>   

<script>
function comment1(){
        if($('#comment').val()== ''){$("#msgbox").html('Please input your comment.');}
        else{
        $.ajax({
            url : '../scripts/php/insert_xss3.php',
            type : 'POST',
            data : { comment:$('#comment').val()},
        dataType:'json',
        success : function(data) {             
          if(data != 0){
                        $("#msgbox").fadeTo(200,1,function()
                        { 
                          $(this).html('Thank you for your comment.');
                        });                        
                        console.log(data);
                        document.getElementById("display").innerHTML = '';
                        var i = data.length-1;
                        document.getElementById("display").innerHTML = "THe latest 3 comments are: <br><b>" + data[i].comment +"</br>" + data[i-1].comment +"</br>" + data[i-2].comment +"</b>";              
            }
            else{
               $("#msgbox").fadeTo(200,1,function()
                    { 
                      $(this).html('Comment failed.');
                    });                 
            }
        }
        })
    }
}
</script>